<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ir.am3n.craptionreporter">

    <application
        android:allowBackup="false"
        android:supportsRtl="false">

        <provider
            android:name=".CrashReporterInitProvider"
            android:authorities="${applicationId}.CrashReporterInitProvider"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".ui.CrashReporterActivity"
            android:launchMode="singleTask"
            android:taskAffinity="ir.am3n.craptionreporter.android.task"
            android:theme="@style/CrashReporter.Theme" />

        <activity
            android:name=".ui.LogMessageActivity"
            android:parentActivityName=".ui.CrashReporterActivity"
            android:theme="@style/CrashReporter.Theme" />

        <service android:name=".server.ServerHandlerService" />

    </application>

</manifest>
