<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ir.am3n.craptionreporter">

    <application>

        <provider
            android:name=".CraptionReporterInitProvider"
            android:authorities="${applicationId}.CraptionReporterInitProvider"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".ui.CraptionReporterActivity"
            android:launchMode="singleTask"
            android:taskAffinity="ir.am3n.craptionreporter.android.task"
            android:theme="@style/CraptionReporter.Theme" />

        <activity
            android:name=".ui.LogMessageActivity"
            android:parentActivityName=".ui.CraptionReporterActivity"
            android:theme="@style/CraptionReporter.Theme" />

        <service android:name=".server.ServerHandlerService" />

    </application>

</manifest>
